
@model My_Blog.ViewModels.LandingPageVM



<section class="site-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="owl-carousel owl-theme home-slider">
                    <div>
                        <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostOne.Slug })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../images/img_1.jpg'); ">
                            <div class="text half-to-full">
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                    <span class="mr-2">@Model.PostOne.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>

                                </div>
                                <h3> @Model.PostOne.Title</h3>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostTwo.Slug })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../images/img_2.jpg');">
                            <div class="text half-to-full">
                                
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                    <span class="mr-2">@Model.PostOne.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>

                                </div>
                                <h3>@Model.PostTwo.Title</h3>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostThree.Slug })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../images/img_3.jpg');">
                            <div class="text half-to-full">
                                
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                    <span class="mr-2">@Model.PostOne.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>

                                </div>
                                <h3>@Model.PostThree.Title</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
@*LATEST BLOGS*@

@* var recentPosts = db.BlogPosts.Where(b => b.Published) *@

    <section class="site-section py-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Recent Posts</h2>
                </div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                     <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostOne.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_5.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                            <span class="mr-2">@Model.PostOne.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostOne.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostTwo.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_6.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg"></span>&bullet;
                                            <span class="mr-2">@Model.PostTwo.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostTwo.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostThree.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_7.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                            <span class="mr-2">@Model.PostThree.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostThree.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostFour.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_8.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg" ></span>&bullet;
                                            <span class="mr-2">@Model.PostFour.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostFour.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostFive.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_9.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg"></span>&bullet;
                                            <span class="mr-2">@Model.PostFive.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostFive.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.PostSix.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img src="~/images/img_10.jpg" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/images/person_1.jpg"></span>&bullet;
                                            <span class="mr-2">@Model.PostSix.Created.ToString("MMMM d, yyyy")</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                        <div class="post-meta">
                                            <h4>@Model.PostSix.Title</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- END main-content -->

                    <div class="col-md-12 col-lg-4 sidebar">
                        
                        <!-- END sidebar-box -->
                        <div class="sidebar-box">
                            <div class="bio text-center">
                                <img src="~/images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
                                <div class="bio-body">
                                    <h2>Aaron Boyles</h2>
                                    <p>Short Bio here</p>
                                    <p><a href="/home/about" class="btn btn-primary btn-sm rounded">Read My Bio</a></p>
                                    <p class="social">
                                        <a href="https://www.facebook.com/aaron.boyles.9" class="p-2"><span class="fa fa-facebook"></span></a>
                                        <a href="https://twitter.com/air_ron05" class="p-2"><span class="fa fa-twitter"></span></a>
                                        <a href="https://www.instagram.com/aboyles05/?hl=en" class="p-2"><span class="fa fa-instagram"></span></a>
                                        @*<a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>*@
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END sidebar-box -->
                        <div class="sidebar-box">
                            <h3 class="heading">Popular Posts</h3>
                            <div class="post-entry-sidebar">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="~/images/img_2.jpg" alt="Image placeholder" class="mr-4">
                                            <div class="text">
                                                <h4>How to Find the Video Games of Your Youth</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">March 15, 2018 </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/images/img_4.jpg" alt="Image placeholder" class="mr-4">
                                            <div class="text">
                                                <h4>How to Find the Video Games of Your Youth</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">March 15, 2018 </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/images/img_12.jpg" alt="Image placeholder" class="mr-4">
                                            <div class="text">
                                                <h4>How to Find the Video Games of Your Youth</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">March 15, 2018 </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END sidebar-box -->


                        <div class="sidebar-box">
                            <h3 class="heading">Tags</h3>
                            <ul class="tags">
                                <li><a href="#">MVC</a></li>
                                <li><a href="#">C#</a></li>
                                <li><a href="#">JavaScript</a></li>
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Freelancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar -->
            </div>
        </div>

    </section>

